version: '2'

services:
  strongloop:
    image: node:5.11-onbuild
    ports:
      - "3001:3001"
    volumes:
      - ..:/code
    working_dir: "/code"
    depends_on:
      - mongodb
    env_file:
      - .env
      - strongloop/.env
  mongodb:
    build:
      context: .
      dockerfile: mongo/Dockerfile
    command: -f /etc/mongo.conf
    volumes:
      - ./mongo/mongo.conf:/etc/mongo.conf
      - data:/data/db
    env_file:
      - .env
      - mongo/.env

volumes:
  data:
    driver: local
