version: '2'
services:
  strongloop:
    image: node:5.11-onbuild
    ports:
      - "3001:3001"
    volumes:
      - ..:/code
    working_dir: "/code"
    links:
      - mongodb
    env_file:
      - .env
      - strongloop/.env
  mongodb:
    image: mongo:3.3
    command: mongod -f /etc/mongo.conf
    volumes:
      - ./mongo/mongo.conf:/etc/mongo.conf
