version: '2'

services:
  strongloop:
    build:
      context: .
      dockerfile: strongloop/Dockerfile
    ports:
      - "3001:3001"
    volumes:
      - ..:/usr/src/app
      - /home/app
    depends_on:
      - mongodb
    env_file:
      - .env
      - strongloop/.env
    user: app
    read_only: true
    security_opt:
      - no-new-privileges

  mongodb:
    build:
      context: .
      dockerfile: mongo/Dockerfile
    command: -f /etc/mongo.conf
    volumes:
      - ./mongo/mongo.conf:/etc/mongo.conf:ro
      - data:/data/db
    env_file:
      - .env
      - mongo/.env
    user: mongodb
    security_opt:
      - no-new-privileges

volumes:
  data:
    driver: local
